* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1vw;
}

body {
  font-size: 1rem;
}

.tasklist-container {
  width: 60vw;
  margin: 5vh auto;
  background-color: white;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: start;
  color: #333;
  margin-bottom: 0.5rem;
}

.create-task-form {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 0.75rem;
}

.create-task-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.create-task-form input,
.create-task-form textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 0.08rem solid #ccc;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.status-field {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.status-field label {
  margin-right: 0.75rem;
}

.status-field input {
  width: auto;
}

.create-task-btn {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.create-task-btn:hover {
  background-color: #45a049;
}

.task-list {
  list-style: none;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  border-radius: 0.75rem;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.task-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-title {
  font-weight: bold;
  font-size: 1.25rem;
  color: #333;
}

.task-buttons {
  display: flex;
  gap: 1rem;
  margin-left: 0.7rem;
}

.edit-task-btn,
.delete-task-btn,
.done-task-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.edit-task-btn {
  background-color: #2196f3;
  color: white;
}

.edit-task-btn:hover {
  background-color: #1976d2;
}

.delete-task-btn {
  background-color: #f44336;
  color: white;
}

.delete-task-btn:hover {
  background-color: #d32f2f;
}

.done-task-btn {
  background-color: #4caf50;
  color: white;
}

.done-task-btn:hover {
  background-color: #3b903e;
}

.strikethrough {
  text-decoration: line-through;
}

.edit {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.edit-forms {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edit,
input,
textarea {
  border-radius: 0.5rem;
}

.edit,
textarea {
  min-height: 100px;
  min-width: 300px;
}

.task-filter {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}
